In [18]:
import pandas as pd

In [19]:
data=pd.read_csv('sample.csv')#30001 for start hop data
data

                  x             y           z Outputs
0     -4.299387e-02 -1.357931e-03  -64.222052  spiral
1     -6.445865e-02 -2.715185e-03   -5.475421  spiral
2     -8.583775e-02 -5.427663e-03  149.879390  spiral
3     -8.562362e-02 -8.134731e-03   79.174509  spiral
4     -8.532414e-02 -1.083369e-02  -80.707106  spiral
...             ...           ...         ...     ...
39997  1.880000e-13  0.000000e+00   -7.392644     hop
39998 -5.610000e-13 -9.240000e-14   15.477061     hop
39999 -1.880000e-13  0.000000e+00   16.504111     hop
40000  0.000000e+00 -9.240000e-14    6.696524     hop
40001  3.770000e-13 -9.590000e-14    2.005488     hop

[40002 rows x 4 columns]

In [20]:
import pickle 
from sklearn.model_selection import train_test_split
X=data.drop(columns=['Outputs'])
y=data.drop(columns=['x','y','z'])
y

      Outputs
0      spiral
1      spiral
2      spiral
3      spiral
4      spiral
...       ...
39997     hop
39998     hop
39999     hop
40000     hop
40001     hop

[40002 rows x 1 columns]

In [21]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=22)

In [22]:
X_train.shape,y_train.shape,X_test.shape,y_test.shape

((32001, 3), (32001, 1), (8001, 3), (8001, 1))

In [23]:
display(y_train)

           Outputs
15724  oscillation
4785        spiral
4230        spiral
17730  oscillation
8684        spiral
...            ...
20971     circular
23030     circular
24932     circular
31680          hop
29484     circular

[32001 rows x 1 columns]

from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier(max_depth=100)
model.fit(X_train,y_train)

from sklearn.metrics import classification_report
y_pred=model.predict(X_test)
y_pred
print(classification_report(y_pred,y_test))

In [24]:
from sklearn.ensemble import RandomForestClassifier
bag=RandomForestClassifier()
bag.fit(X_train,y_train)
from sklearn.metrics import classification_report
y_pred=bag.predict(X_test)
print(classification_report(y_pred,y_test))

C:\Users\sathvik\AppData\Local\Temp\ipykernel_20296\671389235.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  bag.fit(X_train,y_train)

              precision    recall  f1-score   support

    circular       0.97      0.89      0.93      2221
         hop       1.00      1.00      1.00      1967
 oscillation       0.97      1.00      0.98      1954
      spiral       0.90      0.97      0.94      1859

    accuracy                           0.96      8001
   macro avg       0.96      0.96      0.96      8001
weighted avg       0.96      0.96      0.96      8001

In [1]:
#testing=pd.read_csv('spiral_accel_train.csv')
#testing

In [2]:

#X=testing.drop(columns=['Outputs'])
#y=testing.drop(columns=['x','y','z'])

#osc_X_train,osc_X_test,osc_y_train,osc_y_test=train_test_split(X,y,test_size=0.4,random_state=22)
#test_for_osc_pred=bag.predict(osc_X_test)
#print(classification_report(test_for_osc_pred,osc_y_test))

In [30]:
final_bag=pickle.dumps(bag)

In [31]:
final_load=pd.read_csv('sample_test.csv')
mango_pickle=pickle.loads(final_bag)
X=final_load.drop(columns=['Outputs'])
y=final_load.drop(columns=['x','y','z'])

pickle_X_train,pickle_X_test,pickle_y_train,pickle_y_test=train_test_split(X,y,test_size=0.8,random_state=22)
pickle_y_pred=bag.predict(pickle_X_test)
print(classification_report(pickle_y_pred,pickle_y_test))

              precision    recall  f1-score   support

    circular       0.97      0.88      0.92      8878
         hop       1.00      1.00      1.00      8027
 oscillation       0.97      1.00      0.98      7723
      spiral       0.89      0.97      0.93      7372

    accuracy                           0.96     32000
   macro avg       0.96      0.96      0.96     32000
weighted avg       0.96      0.96      0.96     32000

In [32]:
pickle.dump(bag, open('mango.pkl', 'wb'))