In [1]:
import pickle

with open('mango.pkl', 'rb') as f:
    mango_pickle = pickle.load(f)

In [2]:
import pandas as pd
data=pd.read_csv('grand_finale.csv')
data
#data.to_csv('grand_finale.csv')

         Unnamed: 0             x             y          z
0                 0 -1.750080e-03 -7.325240e-03  -7.381023
1                 1 -3.499287e-03 -1.464683e-02  -2.077100
2                 2 -6.995087e-03 -2.927906e-02   2.545311
3                 3 -1.048391e-02 -4.388210e-02  -1.957730
4                 4 -1.396229e-02 -5.844140e-02   0.390971
...             ...           ...           ...        ...
1999995     1999995 -3.765876e-13 -9.503509e-14   9.444445
1999996     1999996  1.129763e-12  1.891820e-13  12.721222
1999997     1999997  3.765876e-13  1.891820e-13  -9.539571
1999998     1999998  2.202682e-13  6.572520e-14 -19.803844
1999999     1999999  4.418688e-13 -5.891584e-14 -16.154872

[2000000 rows x 4 columns]

In [3]:
data

         Unnamed: 0             x             y          z
0                 0 -1.750080e-03 -7.325240e-03  -7.381023
1                 1 -3.499287e-03 -1.464683e-02  -2.077100
2                 2 -6.995087e-03 -2.927906e-02   2.545311
3                 3 -1.048391e-02 -4.388210e-02  -1.957730
4                 4 -1.396229e-02 -5.844140e-02   0.390971
...             ...           ...           ...        ...
1999995     1999995 -3.765876e-13 -9.503509e-14   9.444445
1999996     1999996  1.129763e-12  1.891820e-13  12.721222
1999997     1999997  3.765876e-13  1.891820e-13  -9.539571
1999998     1999998  2.202682e-13  6.572520e-14 -19.803844
1999999     1999999  4.418688e-13 -5.891584e-14 -16.154872

[2000000 rows x 4 columns]

In [4]:
2000000 ==2000000

True

In [5]:

X=data.drop(columns='Unnamed: 0')
X

                    x             y          z
0       -1.750080e-03 -7.325240e-03  -7.381023
1       -3.499287e-03 -1.464683e-02  -2.077100
2       -6.995087e-03 -2.927906e-02   2.545311
3       -1.048391e-02 -4.388210e-02  -1.957730
4       -1.396229e-02 -5.844140e-02   0.390971
...               ...           ...        ...
1999995 -3.765876e-13 -9.503509e-14   9.444445
1999996  1.129763e-12  1.891820e-13  12.721222
1999997  3.765876e-13  1.891820e-13  -9.539571
1999998  2.202682e-13  6.572520e-14 -19.803844
1999999  4.418688e-13 -5.891584e-14 -16.154872

[2000000 rows x 3 columns]

In [21]:
from collections import Counter

def max_repeating_element(lst):
    freq_count = Counter(lst)
    max_freq = max(freq_count.values())
    max_freq_elements = [k for k, v in freq_count.items() if v == max_freq]
    return max(max_freq_elements)
lst = [1, 2, 3, 4,55,5,5,5,5,5,5,5,4, 4, 4, 5, 5]
max_repeating = max_repeating_element(lst)
print("The maximum repeating element in the list is:", max_repeating)
type(lst)

The maximum repeating element in the list is: 5

list

In [20]:
#for i in range(0,len(data['x']),200):
#    print(i)
#final_list

In [9]:
final_list=[]
for i in range(0,len(data['x']),200):
    y_pred=mango_pickle.predict(X[i:i+200])
    y_pred_for_list=list(y_pred)
    final_list.append(max_repeating_element(y_pred_for_list))
    #print(type(y_pred))
    #print(list(y_pred))

In [10]:
len(final_list)

10000

In [19]:
final_list[:10]

['oscillation',
 'circular',
 'hop',
 'hop',
 'spiral',
 'hop',
 'oscillation',
 'oscillation',
 'circular',
 'circular']

In [13]:
#y_pred.shape

In [27]:
#y_pred.tofile

True

In [14]:
test_submit=pd.DataFrame(columns=['Outputs'])
test_submit['Outputs']=final_list

In [15]:
test_submit.shape

(10000, 1)

In [16]:
test_submit

          Outputs
0     oscillation
1        circular
2             hop
3             hop
4          spiral
...           ...
9995          hop
9996       spiral
9997          hop
9998          hop
9999          hop

[10000 rows x 1 columns]

In [17]:
test_submit.to_csv('output_sathvik_tummala.csv')

In [18]:
test_submit.tail()

     Outputs
9995     hop
9996  spiral
9997     hop
9998     hop
9999     hop